*Assignment* 4

By **GOWRI SANKAR G**

Problem Statement :- **SMS SPAM Classification**

NOTE: Please add churn_modelling.csv. *To download click* https://www.kaggle.com/code/kredy10/simple-lstm-for-text-classification/data

Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import nltk
import re
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Read dataset and do pre-processing

In [ ]:
data = pd.read_csv(r"/content/spam.csv",encoding='ISO-8859-1')
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [ ]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

Create Model

In [ ]:
ps=PorterStemmer()
message=[]
for i in range(0,5572):
  msg=data['v2'][i]
  msg=re.sub('[^a-zA-Z]',' ',msg)
  msg=msg.lower()
  msg=msg.split(' ')
  msg = [ps.stem(word) for word in msg if word not in set(stopwords.words('english'))]
  msg=' '.join(msg)
  message.append(msg)

message[:6]

['go jurong point  crazi   avail bugi n great world la e buffet    cine got amor wat   ',
 'ok lar    joke wif u oni   ',
 'free entri   wkli comp win fa cup final tkt   st may       text fa       receiv entri question std txt rate c appli             ',
 'u dun say earli hor    u c alreadi say   ',
 'nah think goe usf  live around though',
 'freemsg hey darl   week word back  like fun still  tb ok  xxx std chg send         rcv']

Add Layers (LSTM, Dense-(Hidden Layers), Output)

In [ ]:
cv = CountVectorizer()
x = cv.fit_transform(message).toarray()
le = LabelEncoder()
data['v1']=le.fit_transform(data['v1'])
y = data['v1'].values

Compile the Model

In [ ]:
model=Sequential()
model.add(Dense(1550,activation='relu'))
model.add(Dense(3000,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

Fit the Model

In [ ]:
model.fit(x,y,epochs=10)

Epoch 1/10
175/175 [==============================] - 21s 113ms/step - loss: 0.1222 - accuracy: 0.9663
Epoch 2/10
175/175 [==============================] - 20s 113ms/step - loss: 0.0100 - accuracy: 0.9977
Epoch 3/10
175/175 [==============================] - 20s 116ms/step - loss: 0.0023 - accuracy: 0.9993
Epoch 4/10
175/175 [==============================] - 19s 107ms/step - loss: 3.6738e-04 - accuracy: 1.0000
Epoch 5/10
175/175 [==============================] - 20s 115ms/step - loss: 1.1576e-04 - accuracy: 1.0000
Epoch 6/10
175/175 [==============================] - 19s 108ms/step - loss: 5.4091e-05 - accuracy: 1.0000
Epoch 7/10
175/175 [==============================] - 20s 115ms/step - loss: 3.2475e-05 - accuracy: 1.0000
Epoch 8/10
175/175 [==============================] - 20s 114ms/step - loss: 2.2010e-05 - accuracy: 1.0000
Epoch 9/10
175/175 [==============================] - 19s 106ms/step - loss: 1.5842e-05 - accuracy: 1.0000
Epoch 10/10
175/175 [==============================] - 19s 106ms/step - loss: 1.1735e-05 - accuracy: 1.0000

Save The Model

In [ ]:
model.save("spam_nlp.h5")

Test The Model

In [ ]:
def check(msg):
    msg=re.sub('[^a-zA-Z]',' ',msg)
    msg=msg.lower()
    msg=msg.split(' ')
    msg = [ps.stem(word) for word in msg if word not in set(stopwords.words('english'))]
    msg=' '.join(msg)
    predict = model.predict(cv.transform([msg]))
    if predict > 0.5:
        prediction='Spam'
    else: 
        prediction='Ham'
    return prediction

In [ ]:
message="WINNER!! As a valued network customer you have been selected to receivea å£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only."

In [ ]:
print(check(message))

1/1 [==============================] - 0s 109ms/step
Spam

In [ ]:
message="I'm gonna be home soon and i don't want to talk about this stuff anymore tonight, k? I've cried enough today."

In [ ]:
print(check(message))

1/1 [==============================] - 0s 15ms/step
Ham